<% if(typeof deleted === 'undefined'){ %>
<div id="alert" class=" hidden msg view container-fluid alert alert-success">
    <span class="align-middle" role="alert"></span>
</div>
<% } else if (deleted === true) { %>
<div id="alert" class=" msg deleted container-fluid alert alert-success">
    <span class="align-middle" role="alert">You have successfully delted your account!</span>
</div>
<% } %>