<% if(typeof alert !== 'undefined') {%>
<div class=" msg container-fluid alert alert-success d-flex flex-row justify-content-center align-items-center">
    <span data-msg="<%= alert %>" class="align-middle" role="alert"></span>
</div>
<% } %>