<!-- Alert view -->
<% if((typeof deleted !== 'undefined') && deleted) { %>
    <div id="alert" class=" msg deleted container-fluid alert alert-success">
        <span class="align-middle" role="alert">You have successfully deleted your account!</span>
    </div>
<% } else if ((typeof reviewed !== 'undefined') && reviewed) { %>
    <div id="alert" class=" msg deleted container-fluid alert alert-success">
        <span class="align-middle" role="alert">You have successfully reviewed another user!</span>
    </div>
<% } %>