<!-- Chat view -->
<% if(typeof loggedIn !== 'undefined'){ %>
<% if(loggedIn){ %>
<div class="chatBox minimized">
    <div class="minimize"></div>
    
    <div class="chatNameTitle"><span>Live Chat</span><span class="dropDownArrow hidden"></span><ul class="chatList hidden"></ul></div>
    <div class="chatContainer"><div class="chatHelper"></div></div>
    <input class="inputBox" maxlength="120" type="text" placeholder="Message..." disabled>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/chat.js"></script>
<% } %>
<% }%>