<% if(typeof loggedIn !== 'undefined'){ %>
    <% if(loggedIn){ %>
        <div class="chatBox minimized">
                <div class="minimize"></div>
                <div class="chatNameTitle">Find a tutor to chat with!</div>
                <div class="chatContainer">
                    <!-- <div class="chat recv">hello hows it going thats great lol but sadasdad asda sdasd asdadasa sda sd adsa da dad asdasdasdsa asdad</div> -->
                    <!-- <div class="chat send">hello hows it going thats great lol</div> -->
                </div>
                <input class="inputBox"type="text" placeholder="Message...">
            </div>
            <script src="/socket.io/socket.io.js"></script>
            <script src="/chat.js"></script>
   <% } %>
<% } %>
