<div class="form-control classSelect">
    <ul class="classlist">
        <li class="classinput">
            <input placeholder="Search class" type="text" name="query" autocomplete="off" spellcheck="false">
            <span data-helper="e.g CMPS115" class="querylist helper hidden"></span>
        </li>
    </ul>
</div>