<nav class="navbar navbar-expand-sm fixed-top justify-content-between">
    <a class="nav-brand" href="/">
        <img class="icon" src="/slug.png" width="50" height="50" style="margin-left: 10px"
            alt="Slug Icon">Academi-Slug</a>
    <form class="form-inline" action="/searchRoute" autocomplete="off" method="GET">
        <input class="form-control col-sm-7" id='searchBar' type="search" placeholder="Search For Course" name="search">
        <input class="btn navbar-submit" value="Search" type="submit">
    </form>
</nav>

<script type="module" src="/autocomplete.js"></script>
