<nav class="navbar navbar-expand-sm fixed-top justify-content-between">
    <a class="nav-brand" href="/">
        <img class="icon" src="https://cdn0.iconfinder.com/data/icons/insects-4/300/24-512.png" width="50" height="50"
            alt="Slug Icon">Academi-Slug</a>
    <form class="form-inline" action="https://www.google.com/">
        <input class="form-control mr-sm-2" type="search" placeholder="Search for Classes">
        <button class="btn btn-nav" type="submit">Search</button>
    </form>
</nav>