<nav class="navbar navbar-expand-sm fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="nav-brand" href="/"><img class="icon" src="/slug.png" width="50" height="50" alt="Slug Icon">Academi-Slug</a>
        </div>

        <ul class="nav navbar-nav navbar-right">
            <li>
                <a class="btn btn-nav" href="/profile/login" role="button">Log In</a>
            </li>
            <li>
                <a class="btn btn-nav" href="/profile/signup" role="button">Sign Up</a>
            </li>
        </ul>
    </div>
</nav>