<!DOCTYPE html>

<html class="html">

<head>
    <%- include templates/header %>
    <% if(!loggedIn) { %>
    <%- include templates/nav-buttons %>
    <% } else { %>
    <%- include templates/nav-profile %>
    <% } %>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <title>Academi-Slug | Messages</title>
</head>

<%- include templates/nav-buttons %>

<body class="body">
    <div class="bg d-flex justify-content-center align-items-center">
        <div class="card w-75">
            <div class="card-header">
                <h2 class="display-4 message-title">Send Message</h2>
            </div>
            <div class="card-body">
                    <div class="jumbotron">
                        <div id="messages">
                        </div>
                        <input id="name" class="form-control" placeholder="Name">
                        <br>
                        <textarea id="message" class="form-control" placeholder="Your Message Here">
                        </textarea>
                        <br>
                        <button id="send" class="btn btn-success">Send</button>
                    </div>
            </div>
        </div>
        <script type="module" src="/message.js"></script>
    </div>
</body>

</html>