<!DOCTYPE html>
<html>
     
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">
        <title>Academi-Slug | Search</title>
        
        <style type="text/css">

            .search-bar {
                text-align: center;
                position:relative;
                top: 230px;
              
            }

            .heading {
                color: black;
                font-size: 300%;
            }

            .login-redirect {
                text-align:right;
                padding: 10px;
            }
        
            .navbar {
                background-color: #fdc700;
                border-bottom: 3px solid black;
            }

            .nav-brand {
                font-size: 30px;
                font-weight: bolder;
                color: black
            }

            .btn-nav {
                color: white;
                background-color: black;
                border-color: black;
            }

            .btn-nav:hover{
                background-color: #003c6c;
                border-color: black;
            }

            .navbar a:hover {
                text-decoration: none;
                color:black;
            }

            .logo {
                margin-right: 15px;
            }

            .back-image{
               position:fixed;
               width: 100%;
               opacity: 0.65;
           }
            

           

        </style>
    </head>
    <nav class="navbar navbar-expand-sm fixed-top justify-content-between">
            <a class="nav-brand" href="login.html">

            <!-- slug icon pic -->
            <img class="logo" src="https://cdn0.iconfinder.com/data/icons/insects-4/300/24-512.png" width="50" height="50" alt="Slug Icon">Academi-Slug</a>
            
          <!--  <form class="form-inline" action="https://www.google.com/">
                <input class="form-control mr-sm-2" type="search" placeholder="Search for Classes">
                <button class="btn btn-nav" type="submit">Search</button>
            </form> -->
        </nav>
    
    
    <body>
            <img class="back-image" src="study2.jpg"> <!---background image -->


        <div class="login-redirect">
                <a href="login.html">Sign Up</a>
                <a href="login.html">Login</a>
        </div>
    
        
        <div class="search-bar">
            
            <div class="heading">
                    <h1> What do you need help with? </h1>

            </div>

          
            
        <form>
            <input type ="text" name =text class ="search" placeholder ="Search For a Course" size="50">
            <input type ="submit" name="submit" class ="submit" value="Search">
        </form>

        </div>


       
        

    </body>

</html>