<!DOCTYPE html>
<html>
     
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <title>Academi-Slug | Search</title>
        <link rel="stylesheet" type="text/css" href="search.css">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
	
	<nav class="navbar navbar-expand-sm fixed-top justify-content-between">
        <a class="nav-brand" href="login.html">
        <img class="icon" src="https://cdn0.iconfinder.com/data/icons/insects-4/300/24-512.png" width="50" height="50" alt="Slug Icon">Academi-Slug</a>
		<form class="form-inline" action="https://www.google.com/">
            <button class="btn btn-nav" type="submit">Sign Up</button>
			<button class="btn btn-nav" type="submit">Login</button>
        </form>
	</nav>
    
    <body>
		<div class="bg">    
            <div class="container h-100">
                <div class="row h-100 justify-content-center align-items-center">
                    <div class="col-md-auto">
                        <div class="card">
                            <div class="card-header">
                                <h2 class="display-4 mb-0 text-center">What do you need help with?</h2>
                            </div>
                            <div class="card-body">
								<form class="form-inline" action="https://www.google.com/">									
									<input class="form-control mr-sm-2 text-center" type="search" placeholder="Search for a Course" size="55">
									<button name="search" type="submit" class="btn btn-primary" style="margin-left: 15px">Search</button>
								</form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>

</html>