<!DOCTYPE html>
<html class="html">
     
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <title>Academi-Slug | Search</title>
        <link rel="stylesheet" type="text/css" href="/style.css">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
	
    <% if(!loggedIn) { %>
	   <script src="nav-buttons.js"></script>
    <% } else { %>
        <script src="nav-profile.js"></script>
    <% } %>
    
    <body class="body">
		<div class="bg">    
            <div class="container h-100">
                <div class="row h-100 justify-content-center align-items-center">
                    <div class="col-md-auto">
                        <div class="card">
                            <div class="card-header">
                                <h2 class="display-4 mb-0 text-center">What do you need help with?</h2>
                            </div>
                            <div class="card-body">
								<form class="form-inline" action="https://www.google.com/">									
									<input class="form-control mr-sm-2 text-center col-sm-9" type="search" placeholder="Search for a Course">
									<button name="search" type="submit" class="btn btn-primary col-sm-2" style="margin-left: 15px">Search</button>
								</form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>

</html>