<!DOCTYPE html>
<html class="html">
     
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">
        <title>Academi-Slug | Search</title>
        
        <style type="text/css">

            .search-bar {
                position:relative;
                text-align: center;
                top: -30px;
               
            }

            .heading {
                color: black;
                font-size: 300%;
            }

            .login-redirect {

               position: relative;
               width: 13%;
               /* left: 100px; */
               /* background-color: lightblue; */
               /* border: 1px solid black; */
            }
            .login-redirect > a{
               background-color: #003c6c;
               border: 1px solid rgba(153, 205, 50, 0.61);
               padding: 5%;
               border-radius: 8px;
            }
            .login-redirect>a:hover{
                background-color: rgb(110, 148, 36)
            }
        
            .navbar {
                background-color: #fdc700;
                border-bottom: 3px solid black;
            }

            .nav-brand {
                font-size: 30px;
                font-weight: bolder;
                color: black
            }

            .btn-nav {
                color: white;
                background-color: black;
                border-color: black;
            }

            .btn-nav:hover{
                background-color: #003c6c;
                border-color: black;
            }

            .navbar a:hover {
                text-decoration: none;
                color:black;
            }

            .logo {
                margin-right: 15px;
            }

            .bg {
                background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)),url("study2.jpg");
                height: 100%;
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
                margin-top: 65px;

            }

            .html,.body {
            height: 100%;
          
            }
        </style>
    </head>


    <nav class="navbar navbar-expand-sm fixed-top justify-content-between">
            <a class="nav-brand" href="/profile/login">

            <!-- slug icon pic -->
            <img class="logo" src="https://cdn0.iconfinder.com/data/icons/insects-4/300/24-512.png" width="50" height="50" alt="Slug Icon">Academi-Slug</a>
            <div class="login-redirect">
                <% if(!loggedIn) { %>
                    <a href="/profile/signup">Sign Up</a>
                    <a href="/profile/login">Login</a>
                    <% }else{ %>
                        <a href="/profile">profile</a>
                   <% } %>
            </div>
        
            
            
          <!--  <form class="form-inline" action="https://www.google.com/">
                <input class="form-control mr-sm-2" type="search" placeholder="Search for Classes">
                <button class="btn btn-nav" type="submit">Search</button>
            </form> -->
        </nav>

        
    
    <body class="body">

            <div class="bg">    
                    <div class="container h-100">
                            <div class="row h-100 justify-content-center align-items-center">
                                <div class="col-md-6">


                <!---
            <img class="back-image" src="study2.jpg"> 
                    background image -->

        
        <div class="search-bar">

                
            
            <div class="heading">

                    <h1> What do you need help with? </h1>

            </div>

          
            
        <form>
            <input type ="text" name =text class ="search" placeholder ="Search For a Course" size="50">
            <input type ="submit" name="submit" class ="submit" value="Search">
        </form>

        </div>

        </div>
      </div>
    </div>
</div>
       
    </body>

</html>