<!DOCTYPE html>

<html class="html">

<head>
	<%- include templates/header %>
	<title>Academi-Slug | Search Results</title>
</head>

<!-- <script src="nav-buttons.js"></script> -->
<%- include templates/nav-buttons %>

<body class="body">
	<div class="bg">
		<div class="container h-100">
			<div class="row h-100 justify-content-center align-items-center">
				<div class="col-md-auto">
					<div class="card">
						<div class="card-header">
							<div class="search-text">
								<h4>You searched for: </h4>

								<body onload="document.getElementById('searchResult').innerHTML = getUrlParameter('search')">
									<h4 id="searchResult">
									</h4>
								</body>
								<h4> <%- classSearched %> search results found</h4>
								<script src="/search-results.js" defer></script>
							</div>

							<div class="dropdown">
								<button class="btn btn-sort">Sort By ↓</button>
								<div class="dropdown-content">
									<a href="#">Alphabetically</a>
									<a href="#">Ratings</a>
								</div>
							</div>
						</div>
						<div class="card-body col-md-auto">
							<div class="tutor-table">
								<table class="centralize">
									<tr>
										<th>Name</th>
										<th>Courses</th>
										<th>Ratings</th>
									</tr>
									<tr>
									<td><a href="/profile/user/24245">Bob Slug</a></td>
										<td>420</td>
										<td>4</td>
									</tr>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>