.navbar {
    background-color: #fdc700;
    border-bottom: 3px solid black;
}

.nav-brand {
    font-size: 30px;
    font-weight: bolder;
    ;
}

.btn-nav {
    color: white;
    background-color: black;
    border-color: #003c6c;
}

.btn-nav:hover {
    background-color: #003c6c;
    border-color: black;
}

.navbar a:hover {
    text-decoration: none;
    color: black;
}

.icon {
    margin-right: 15px;
}

.html,
.body {
    height: 100%;
    background-color: black;
    overflow: auto;
}




.bg {
    background: linear-gradient(rgba(255, 255, 255, .5), rgba(255, 255, 255, .5)), url("background.png");
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 65px;
}

.btn-primary {
    color: white;
    background-color: #003c6c;
    border-color: #003c6c;
}

.btn-primary:hover {
    color: black;
    background-color: #fdc700;
    border-color: black;
}

.h2-title,
.h3-title {
    font-weight: bolder;
}

.card {
    border-color: black;
    border-width: thick;
    border-radius: 7px;
}

.card-header {
    background-color: #003c6c;
    color: white;
}

/* class Select CSS */

.classSelect {
    position: relative;
    margin: 0;
    padding: 0;
}

.classlist {
    list-style: none;
    height: 100%;
    padding: 0;
    margin: 0;
}

.classlist>li {
    margin: 0 0 0 5px;
    position: relative;
    top: 50%;
    left: 0;
    display: inline-block;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

.classname {
    color: white;
    background: #014d8b;
    border-radius: .25em;
    padding: 0.25em;
}

.classname::before {
    content: '';
    position: relative;
    top: -.30em;
    left: 0;
    display: inline-block;
    background: white;
    width: 1em;
    height: 0.10em;
    transform: rotateZ(45deg);
    -webkit-transform: rotateZ(45deg);
    -moz-transform: rotateZ(45deg);
}

.classname::after {
    content: '';
    position: absolute;
    top: 0.90em;
    left: .2em;
    display: inline-block;
    background: white;
    width: 1em;
    height: 0.10em;
    transform: rotateZ(-45deg);
    -webkit-transform: rotateZ(-45deg);
}

.classname:hover {
    cursor: pointer;
}

.classname:hover::after,
.classname:hover::before {
    background: red;
}

.classinput {
    padding: 0;
    width: 9em;
    height: 2em;
}

.classinput>input {
    width: 100%;
    height: 100%;
}

.querylist {
    position: absolute;
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
    background: white;
    overflow-y: scroll;
    height: auto;
    max-height: 7em;
}


.querylist>li:hover {
    background: #014d8b;
    color: white;
    cursor: pointer;
}

.loader {
    --borderWidth: 4px;
    width: 2em;
    height: 2em;
    margin: 0.3em;
    display: inline-block;
    border-radius: 50%;
    border: var(--borderWidth) solid whitesmoke;
    border-top: var(--borderWidth) solid #003c6c;
    border-bottom: var(--borderWidth) solid #003c6c;
    position: relative;
    animation: loading 1.5s ease-in-out 0s infinite;
}

.helper {
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    border-radius: 0;
    border-width: 0;
    animation: none;
}
.helper::before{
    content: attr(data-helper);
}


.hidden {
    display: none;
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }
}