.navbar {
    background-color: #fdc700;
    border-bottom: 3px solid black;
}

.nav-brand {
    font-size: 30px;
    font-weight: bolder;    ;
}

.btn-nav {
    color: white;
    background-color: black;
    border-color: #003c6c;
}

.btn-nav:hover{
    background-color: #003c6c;
    border-color: black;
}

.navbar a:hover {
    text-decoration: none;
    color:black;
}

.icon {
    margin-right: 15px;
}

.html,.body {
    height: 110%;
    background-color: black;
}

.bg  {
    background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)),url("background.png");
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 65px;
} 

.btn-primary {
    color: white;
    background-color: #003c6c;
    border-color: black;
}

.btn-secondary {
    color: white;
    background-color: #6c2800;
    border-color: black;
    margin-top: 5px;
    margin-left: -4px;
}

.btn-primary:hover{
    color: black;
    background-color: #fdc700;
    border-color: black;
}

.h2-title, .h3-title  {
    font-weight: bolder;    
}

.card {
    border-color: black;
    border-width: thick;
    border-radius: 7px;
}

.card-header {
    background-color: #003c6c;
    color: white;
}

.centralize {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

.btn-del {
    color: white;
    background-color: #cc0000;
    border-color: black;
}

.btn-del:hover{
    color: white;
    background-color: black;
    border-color: #cc0000;
}