.navbar {
    background-color: #fdc700;
    border-bottom: 3px solid black;
}

.nav-brand {
    font-size: 30px;
    font-weight: bolder;    ;
}

.btn-nav {
    color: white;
    background-color: black;
    border-color: #003c6c;
}

.btn-nav:hover{
    background-color: #003c6c;
    border-color: black;
}

.navbar a:hover {
    text-decoration: none;
    color:black;
}

.icon {
    margin-right: 15px;
}

.html,.body {
    height: 110%;
    background-color: black;
}

.bg  {
    background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)),url("background.png");
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 65px;
} 

.btn-primary {
    color: white;
    background-color: #003c6c;
    border-color: #003c6c;
}

.btn-primary:hover{
    color: black;
    background-color: #fdc700;
    border-color: black;
}

.h2-title, .h3-title  {
    font-weight: bolder;    
}

.card {
    border-color: black;
    border-width: thick;
    border-radius: 7px;
}

.card-header {
    background-color: #003c6c;
    color: white;
}

.bold {
	font-weight: bold;
}

.text-center {
	text-align: center;
}

.centralize {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}


@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

/****** Style Star Rating Widget *****/
/* Credits to: https://codepen.io/jamesbarnett/pen/vlpkh */

.rating { 
  border: none;
  float: left;
}

.rating > input { display: none; } 
.rating > label:before { 
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > label { 
  color: #ddd; 
 float: right; 
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #fdc700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #003c6c;  } 